
<div class="row" style="width:100%">
	
	<div class="col"></div>

	<div class="col-sm-8 Aligner">
		<div style="margin-top: 25%" class="Aligner-item card gui-element" >
		  <div class="card-body">
		    <h5 class="card-title" style="color: #d79e68;">Notice:</h5>
		    <p class="card-text">This Site is Under Construction</p>
		  </div>
		</div>

	</div>

	<div class="col"></div>

</div>