
.footer{
  position: fixed;
  left: 0;
  bottom: 0;
  width:  100%;
  color: #d79e68;
  background-image: url("/assets/outward_tileable.jpg");
  border-top: 3px double #d79e68;
  font-style: italic;
}

.gui-element{
	background-image: url("/assets/outward_tileable.jpg");
  border: 3px double #d79e68;
  font-style: italic;
}

.navbar-dark .navbar-brand {
	color: #d79e68;
	font-weight: normal;
}

.navbar{
	border-bottom: 3px double #d79e68;
  background-image: url("/assets/outward_tileable.jpg");
}

body{
  background-image: url("/assets/outward-background.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.Aligner {
  display: flex;
  align-items: center;
  justify-content: center;
}

.card-text {
	color: white;
}